<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <!--<form action="/updateGame/<%= game._id%>" method="post">-->
                <div>
                    <h1><span class="fa"></span><%= game.name%></h1>
                    <div>
                        <h3>Author:</h3>
                        <div class="form-control"><%= game.author%></div>
                        <input type="text" class="form-control" name="author" value="<%= game.author%>" id="author">
                    </div>
                    <hr>
                    <div>
                        <h3>Description:</h3>
                        <div class="form-control"><%= game.description%></div>
                        <input type="text" class="form-control" name="description" value="<%= game.description%>" id="description">
                    </div>
                    <button class="btn btn-warning btn-lg" onclick="updateGame('<%= game._id%>')">Update game</button>
                    <!--<button type="submit" class="btn btn-warning btn-lg">Update game</button>-->
                <!--</form>-->
                </div>
            </div>
        </div>
    </body>
    <script>
        const updateGame = (gameId) =>{
            const author = document.getElementById('author').value
            const description = document.getElementById('description').value
            const body = {
                author: author,
                description: description
            }
            axios.put(`/updateGame/${gameId}`, body)
        }
    </script>
</html>