<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>

                <div action="/addToLibrary/<%= game._id%>" method="post">
                    <h1><span class="fa"></span><%= game.title%></h1>
                    <div>
                        <h3>Publisher:</h3>
                        <div><%= game.publisher%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Genre:</h3>
                        <div><%= game.genre%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Release date:</h3>
                        <div><%= game.release_date%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Short description:</h3>
                        <div><%= game.short_description%></div>
                    </div>
                    <hr/>
                    <div>
                        <h3>Price:</h3>
                        <div><%= game.price%></div>
                    </div>
                    <hr/>
                    <div>
                        <label>Write review</label>
                        <div>Mark:</div>
                        <input type="text" pattern="[1-5]" class="form-control" id="mark" required="required">
                        <div>Text:</div>
                        <input type="text" class="form-control" id="text" required="required">
                        <button>Send review</button>
                    </div>
                    <hr>
                    <ul id="reviews">
                        <%reviews.forEach(review=>{%>
                            <li>
                                <label><%= review.authorLogin%></label>
                                <label>Mark</label>
                                <div><%= review.mark%></div>
                                <label>Text</label>
                                <div><%= review.text%></div>
                            </li>
                        <%})%>
                    </ul>
                    <hr>
                    <div id="buttons">
                        <button class="btn btn-warning btn-lg" onclick="zamowienie('<%= game._id%>')">
                            złożyc zamówienie
                        </button>
                        <%if(!favouriteGames.includes(game._id)){%>
                            <button class="btn btn-warning btn-lg" onclick="addToFavourite('<%= game._id%>')">
                                Add to favourite
                            </button>
                        <%}else{%>
                            <button class="btn btn-warning btn-lg" onclick="removeFromFavourite('<%= game._id%>')">
                                Remove from favourite
                            </button>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        const zamowienie = () =>{

        }
        const addReview = () =>{

        }
        const removeFromFavourite = (gameId) =>{
            axios.delete(`/removeFromFavourite?game_id=${gameId}`).then(()=>{
                open(location, '_self')
            })
        }
        const addToFavourite = (gameId) =>{
            axios.put(`/addToFavourite?game_id=${gameId}`).then(()=>{
                open(location, '_self')
            })
        }
    </script>
</html>