<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <div id="error"></div>
                <div>
                    <h1><span class="fa"></span><%= game.title%></h1>
                    <div>
                        <h3>Publisher:</h3>
                        <div><%= game.publisher%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Genre:</h3>
                        <div><%= game.genre%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Release date:</h3>
                        <div><%= game.release_date%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Short description:</h3>
                        <div><%= game.short_description%></div>
                    </div>
                    <hr/>
                    <div>
                        <h3>Price:</h3>
                        <div><%= game.price%>$</div>
                    </div>
                    <hr/>
                    <div>
                        <label>Write review</label>
                        <div>Mark:</div>
                        <input type="number" class="form-control" id="mark" required="required">
                        <div>Text:</div>
                        <input type="text" class="form-control" id="text" required="required">
                        <button onclick="addReview()">Send review</button>
                    </div>
                    <hr>
                    <ul id="reviews">
                        <%reviews.forEach(review=>{%>
                            <li>
                                <div><label><%= review.authorLogin%></label></div>
                                <label>Mark:</label>
                                <div><%= review.mark%></div>
                                <label>Text:</label>
                                <div><%= review.text%></div>
                                <!-- <%if(user._id===review.authorId || user.role==="ADMIN"){%>
                                    <button class="btn" onclick="deleteReview('<%= review.authorId%>')">Delete review</button>
                                <%}%>-->
                                <button class="btn" onclick="deleteReview('<%= review._id%>', '<%= review.authorId%>')">Delete review</button>
                                <hr>
                            </li>
                        <%})%>
                    </ul>
                    <hr>
                    <div id="buttons">
                        <a class="btn btn-warning btn-lg" href='/zamowienie/<%= game._id%>'>
                            złożyc zamówienie
                        </a>
                        <%if(!favouriteGames.includes(game._id)){%>
                            <button class="btn btn-warning btn-lg" onclick="addToFavourite('<%= game._id%>')">
                                Add to favourite
                            </button>
                        <%}else{%>
                            <button class="btn btn-warning btn-lg" onclick="removeFromFavourite('<%= game._id%>')">
                                Remove from favourite
                            </button>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        /*const zamowienie = (game_id) =>{
            axios.post(`/makeZamowienie?game_id=${game_id}`)
        }*/
        const addReview = () =>{
            const mark = document.getElementById('mark').value;
            const text = document.getElementById('text').value
            let error =  document.getElementById('error')

            if(mark < 1 || mark >10){
                error.classList.add("alert")
                error.classList.add("alert-danger")
                error.innerHTML = "Mark must be higher than 0 and lower than 10"
            }
            else {
                if(text.length > 200 || text.length < 1){
                    error.classList.add("alert")
                    error.classList.add("alert-danger")
                    error.innerHTML = "Text length must be greater than 1 and less then 200"
                }else{
                    const newReview = {
                        authorId: '<%= user._id%>',
                        mark: mark,
                        text: text
                    }
                    axios.post(`addReviewToGame?game_id=<%=game._id%>`, newReview).then(()=>{
                        open(location, '_self')
                    })
                }
            }

        }
        const deleteReview = (review_id ,review_author_id) =>{
            axios.delete(`removeReview?game_id=<%=game._id%>&review_author_id=${review_author_id}&review_id=${review_id}`)
            .then(res=> {
                return res.data
            })
            .then(()=>{
                open(location, '_self')
            }).catch(err=>{
                let error =  document.getElementById('error')
                error.classList.add("alert")
                error.classList.add("alert-danger")
                error.innerHTML = "you do not have enough rights do delete this review"
            })
        }
        const removeFromFavourite = (gameId) =>{
            axios.delete(`/removeFromFavourite?game_id=${gameId}`).then(()=>{
                open(location, '_self')
            })
        }
        const addToFavourite = (gameId) =>{
            axios.put(`/addToFavourite?game_id=${gameId}`).then(()=>{
                open(location, '_self')
            })
        }
    </script>
</html>