<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <!--<form action="/updateGame/<%= game._id%>" method="post">-->
                <div>
                    <div class="form-group">
                        <label>Title</label>
                        <div class="form-control"><%= game.title%></div>
                        <input type="text" class="form-control" name="title" required="required" value="<%= game.title%>" id="title">
                    </div>
                    <div class="form-group">
                        <label>Publisher</label>
                        <div class="form-control"><%= game.publisher%></div>
                        <input type="text" class="form-control" name="publisher" required="required" value="<%= game.publisher%>" id="publisher">
                    </div>
                    <div class="form-group">
                        <label>Release date</label>
                        <div class="form-control"><%= game.release_date%></div>
                        <input type="date" class="form-control" name="release_date" required="required" value="<%= game.release_date%>" id="release_date">
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        <div class="form-control"><%= game.genre%></div>
                        <input type="date" class="form-control" name="genre" required="required" value="<%= game.genre%>" id="genre">
                    </div>
                    <hr>
                    <div>
                        <h3>Short description:</h3>
                        <div class="form-control"><%= game.short_description%></div>
                        <input type="text" class="form-control" name="short_description" value="<%= game.short_description%>" id="short_description">
                    </div>
                    <div>
                        <h3>Price:</h3>
                        <div class="form-control"><%= game.price%></div>
                        <input type="number" step="0.01" class="form-control" name="price" value="<%= game.price%>" id="price">
                    </div>
                    <button class="btn btn-warning btn-lg" onclick="updateGame('<%= game._id%>')">Update game</button>
                    <!--<button type="submit" class="btn btn-warning btn-lg">Update game</button>-->
                <!--</form>-->
                </div>
            </div>
        </div>
    </body>
    <script>
        const updateGame = (gameId) =>{
            const name = document.getElementById('name').value
            const date = document.getElementById('date').value
            const price = document.getElementById('price').value
            const author = document.getElementById('author').value
            const description = document.getElementById('description').value
            const genre = document.getElementById('genre').value
            const body = {
                name: name,
                author: author,
                date: date, 
                description: description,
                price: price,
                genre: genre,
            }
            axios.put(`/updateGame?game_id=${gameId}`, body).then(()=>{
                window.location.replace('/listOfGames')
            })
        }
    </script>
</html>