<!doctype html>
<html>
    <head>
        <title>
            Users
        </title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Users</h1>
                <ul>
                    <%usersList.forEach( user => {%>
                        <li>
                            <div>
                                <span><%= user._id%></span>
                                <span><%= user.name%></span>
                                <span><%= user.role%></span>
                                <%if(user.role=='MUTED'){%>
                                    <button "btn btn-default" onclick="makeBasic('<%= user._id%>')">+(Unmute)</button>
                                <%}else{%>
                                    <%if(user.role=='BASIC'){%>
                                        <%if(you.role=='MODERATOR' || you.role=='ADMIN'){%>
                                            <button "btn btn-default" onclick="makeModerator('<%= user._id%>')">+(MODERATOR)</button>
                                            <button "btn btn-default" onclick="mute('<%= user._id%>')">-(MUTE)</button>
                                        <%}%>
                                    <%}else{%>
                                        <%if(you.role=='ADMIN'){%>
                                            <%if(user.role=='MODERATOR'){%>
                                                <button "btn btn-default" onclick="makeAdmin('<%= user._id%>')">+(ADMIN)</button>
                                                <button "btn btn-default" onclick="makeBasic('<%= user._id%>')">-(BASIC)</button>
                                            <%}%>
                                        <%}%>
                                    <%}%>
                                <%}%>
                            </div>
                        </li>
                    <%})%>
                </ul>

            </div>
        </div>
    </body>
    <script>
        const mute = (userId) => {
            axios.put(`/mute?userId=${userId}`, {}).then(()=>{
                open(location, '_self')
            })
        }
        const makeBasic = (userId) => {
            axios.put(`/makeBasic?userId=${userId}`, {}).then(()=>{
                open(location, '_self')
            })
        }
        const makeModerator = (userId) => {
            axios.put(`/makeModerator?userId=${userId}`, {}).then(()=>{
                open(location, '_self')
            })
        }
        const makeAdmin = (userId) => {
            axios.put(`/makeAdmin?userId=${userId}`, {}).then(()=>{
                open(location, '_self')
            })
        }
    </script>
</html>