<!doctype html>
<html>
<head>
    <title>Main menu</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <style>
        body { padding-top:80px; }
        input {
            margin-bottom: 5px
        }
        .yellow {
            background-color: rgb(249, 249, 97);
        }
        .red {
            background-color: rgb(243, 123, 121);
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Store</h1>
        <div>
            <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>
        </div>
        <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>PROFILE</a>
        <% console.log('user', user)%>
        <% if(user.role === 'ADMIN') { %>
            <div>
                <a href="/lista_zamowien" class="btn btn-default" role="button">lista zamowien</a>
                <a href="/statistics" class="btn btn-default" role="button">statistics</a>
                <a href="/manageGames" class="btn btn-default" role="button">manage games</a>
            </div>
        <% } %>
    </div>
    <hr>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa"></span>Games</h1>
            <div>
                <input type="text" class="form-control" id="searched">
                <div>
                    <button class="btn btn-warning btn-lg" onclick="searchGames(document.getElementById('searched').value)">Search by title</button>
                    <button class="btn btn-warning btn-lg" onclick="filterByPublisher(document.getElementById('searched').value)">Search by publisher</button>
                    <button class="btn btn-warning btn-lg" onclick="filterByGenre(document.getElementById('searched').value)">Search by genre</button>
                </div>
            </div>
            <hr>
            <div>
                <button class="btn" onclick="sortDescendingByDate()" id="sortByDate">Sort descending by release date</button>
                <button class="btn" onclick="sortDescendingByPrice()" id="sortByPrice">Sort descending by price</button>
            </div>
            <hr>
            <ul id="games"></ul>
        </div>
    </div>
</div>
</body>
<script>
    const games = []
    '<%gamesList.forEach(game=>{%>'
        games.push({
            _id: '<%= game._id%>',
            title: '<%= game.title%>',
            publisher: '<%= game.publisher%>',
            genre: '<%= game.genre%>',
            release_date: '<%= game.release_date%>',
            price: '<%= game.price%>',
        })
    '<%})%>'
    const removeGame = (gameId) =>{
        axios.delete(`/removeGame?game_id=${gameId}`).then((res)=>{
            open(location, '_self')
        })
    }
    const searchGames = (searched) =>{
        window.location.href=`/searchByTitle?title=${searched}`
    }
    const filterByPublisher = (searched) =>{
        window.location.href=`/searchByPublisher?publisher=${searched}`
    }
    const filterByGenre = (searched) =>{
        window.location.href=`/searchByGenre?genre=${searched}`
    }
    const loadGames = () =>{
        let gamesUl = document.getElementById('games')
        let child = gamesUl.lastElementChild; 
        while (child) {
            gamesUl.removeChild(child);
            child = gamesUl.lastElementChild;
        }
        games.forEach(game => {
            let newLi = document.createElement('li');
            newLi.id = game._id

            let newLink = document.createElement('a');
            newLink.innerHTML = game.title;
            newLink.classList.add("btn")
            newLink.classList.add("btn-default")
            newLink.href=`/gameInfo/${game._id}`
            newLi.appendChild(newLink)

            if('<%= user.role%>' === 'ADMIN'){
                let updateLink = document.createElement('a');
                let deleteButton = document.createElement('button');

                updateLink.classList.add("btn");
                updateLink.classList.add("btn-default");
                updateLink.classList.add("yellow");
                updateLink.href=`/updateGame/${game._id}`;
                updateLink.innerHTML = 'update game'

                deleteButton.classList.add("btn");
                deleteButton.classList.add("btn-default");
                deleteButton.classList.add("red");
                deleteButton.onclick=()=>{
                    removeGame(game._id)
                };
                deleteButton.innerHTML = 'delete game'

                newLi.appendChild(updateLink);
                newLi.appendChild(deleteButton);
            }
            gamesUl.appendChild(newLi)
        })
    }
    window.addEventListener('load', function(event){
        loadGames()
    })
    const sortDescendingByDate = () =>{
        games.sort((a, b) =>{
            if(a.release_date < b.release_date){
                return 1
            }
            if(a.release_date > b.release_date){
                return -1
            }
            return 0
        })
        loadGames()
        let button = document.getElementById('sortByDate')
        button.innerHTML = 'Sort ascending by date'
        button.onclick=()=>{
            sortAscendingByDate()
        }
    }
    const sortAscendingByDate = () =>{
        games.sort((a, b) =>{
            if(a.release_date < b.release_date){
                return -1
            }
            if(a.release_date > b.release_date){
                return 1
            }
            return 0
        })
        loadGames()
        let button = document.getElementById('sortByDate')
        button.innerHTML = 'Sort descending by date'
        button.onclick=()=>{
            sortDescendingByDate()
        }
    }
    const sortDescendingByPrice = () =>{
        games.sort((a, b) =>{
            if(a.price < b.price){
                return 1
            }
            if(a.price > b.price){
                return -1
            }
            return 0
        })
        loadGames()
        let button = document.getElementById('sortByPrice')
        button.innerHTML = 'Sort ascending by price'
        button.onclick=()=>{
            sortAscendingByPrice()
        }
    }
    const sortAscendingByPrice = () =>{
        games.sort((a, b) =>{
            if(a.price < b.price){
                return -1
            }
            if(a.price > b.price){
                return 1
            }
            return 0
        })
        loadGames()
        let button = document.getElementById('sortByPrice')
        button.innerHTML = 'Sort descending by price'
        button.onclick=()=>{
            sortDescendingByPrice()
        }
    }
</script>
</html>