<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <!--{_id: $_id, user_id: $user_id, status: $status, sposob_dostawy: $sposob_dostawy, 
                    gameId: $gameId, gameTitle: $gameTitle, gamePrice: $gamePrice, address: $address}-->
                <div>
                    <div class="form-group">
                        <label>_id</label>
                        <div class="form-control"><%= zamowienie._id%></div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>User id</label>
                        <div class="form-control"><%= zamowienie.user_id%></div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>Way of delivery</label>
                        <div class="form-control"><%= zamowienie.sposob_dostawy%></div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label>Game id</label>
                        <div class="form-control"><%= zamowienie.gameId%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Game title:</h3>
                        <div class="form-control"><%= zamowienie.gameTitle%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Total Price:</h3>
                        <div class="form-control"><%= zamowienie.gamePrice%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Address:</h3>
                        <div class="form-control"><%= zamowienie.address%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Status:</h3>
                        <div class="form-control"><%= zamowienie.status%></div>
                        <label>Change status:</label>
                        <select id="status">
                            <option value="PENDING">Pending</option>
                            <option value="COMPLETED">Completed</option>
                        </select>
                    </div>
                    <button class="btn btn-warning btn-lg" onclick="updateZamowienie()">Update game</button>
                    <hr>
                    <!--<button type="submit" class="btn btn-warning btn-lg">Update game</button>-->
                <!--</form>-->
                </div>
            </div>
        </div>
    </body>
    <script>
        const updateZamowienie = () =>{
            const ddl = document.getElementById('status')
            const newStatus = ddl.options[ddl.selectedIndex].value;
            const body = {
                newStatus: newStatus,
            }
            console.log(newStatus, '<%= zamowienie._id%>')
            axios.put("/updateZamowienie?zamowienie_id=<%= zamowienie._id%>", body).then(()=>{
                window.location.replace('/lista_zamowien')
            })
        }
    </script>
</html>