<!doctype html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Edit your profile</h1>
                <%if(error.length !=0){%>
                    <div class="alert alert-danger"><%= error%></div>
                <%}%>
                <div>
                    <div class="form-group">
                        <label>Email</label>
                        <div><%= user.email %></div>
                    </div>
                    <div class="form-group">
                        <label>Login</label>
                        <div><%= user.login %></div>
                        <input type="text" class="form-control" name="login" required="required" value="<%= user.login%>" id="login">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <div><%= user.address %></div>
                        <input type="text" class="form-control" name="address" value="<%= user.address%>" id="address">
                    </div>
                    <div class="form-group">
                        <label>Phone number</label>
                        <div><%= user.phone %></div>
                        <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" name="phone" value="<%= user.phone%>" id="phone">
                    </div>
                    <div class="form-group">
                        <label>Your password</label>
                        <input type="password" class="form-control" name="password" required="required" id="password">
                    </div>
                    <div class="form-group">
                        <label>Repeat password</label>
                        <input type="password" class="form-control" name="password_2" required="required" id="password_2">
                    </div>
                    <div>
                        <button class="btn btn-warning btn-lg" onclick="updateUser('<%= user._id%>')">Save Changes</button>
                    </div>
                    <hr/>
                    <div>
                        <a href="/change_password" class="btn btn-default">Change password</a>
                        <a href="/profile" class="btn btn-default">Back to your profile</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        const validatePhone = phone => {
            //[0-9]{3}-[0-9]{3}-[0-9]{4}
            const regex = new RegExp("^[0-9]{3}-[0-9]{3}-[0-9]{4}$");
            const regex2 = new RegExp("^$");
            if (!regex.test(phone) && !regex2.test(phone)){
                return false;
            }
            return true
        }
        const updateUser = (gameId) =>{
            const login = document.getElementById('login').value
            const address = document.getElementById('address').value
            const phone = document.getElementById('phone').value
            const password = document.getElementById('password').value
            const password_2 = document.getElementById('password_2').value
            const body = {
                login: login,
                address: address, 
                phone: phone,
                password: password,
                password_2: password_2
            }
            if(validatePhone(phone)){
                axios.put(`/edit_profile`, body).then((res)=>{
                    console.log(res)
                    return res.data
                }).then((data)=>{
                    window.location.replace('/profile')
                }).catch(error => {
                    console.log(error.response.data)
                    window.location.replace(`/edit_profile?error=${error.response.data.error}`)
                })
            }else{
                let errorText = 'Invalid phone number'
                window.location.replace(`/edit_profile?error=${errorText}`)
            }
        }
    </script>
</html>