<!doctype html>
<html>
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous">
        </script>
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Games</h1>
                <ul>
                    <%yourGames.forEach( game => {%>
                        <li>
                            <span><%= game.title%></span>
                            <button class="btn btn-default" onclick="removeFromFavourite('<%= game._id%>')">
                                <span class="fa"></span>
                                Remove from favourites
                            </button>
                            <button id="description_button:<%= game._id%>" onclick="loadGame('<%= game._id%>', '<%= game.title%>', '<%= game.publisher%>', '<%= game.genre%>', '<%= game.release_date%>', '<%= game.short_description%>', '<%= game.price%>')">See more...</button>
                            <div id="div:<%= game._id%>"></div>
                        </li>
                    <%})%>
                </ul>

            </div>
        </div>
    </body>
    <script>
        const removeFromFavourite = (gameId) =>{
            axios.delete(`/removeFromFavourite?game_id=${gameId}`).then(()=>{
                open(location, '_self')
            })
        }
        function loadGame(id, title, publisher, genre, release_date, short_description, price){
            let shownGame = document.getElementById(`div:${id}`) //main div

            let titlediv = document.createElement("div");
            let publisherdiv = document.createElement("div");
            let genrediv = document.createElement("div");
            let release_datediv = document.createElement("div");
            let short_descriptiondiv = document.createElement("div");
            let pricediv = document.createElement("div");

            titlediv.innerHTML = title
            publisherdiv.innerHTML = publisher
            genrediv.innerHTML = genre
            release_datediv.innerHTML = release_date
            short_descriptiondiv.innerHTML = short_description
            pricediv.innerHTML = price

            shownGame.appendChild(titlediv)
            shownGame.appendChild(publisherdiv)
            shownGame.appendChild(genrediv)
            shownGame.appendChild(release_datediv)
            shownGame.appendChild(short_descriptiondiv)
            shownGame.appendChild(pricediv)

            let button = document.getElementById(`description_button:${id}`)
            button.innerHTML = 'Hide...'
            button.onclick = function(){
                shownGame.removeChild(titlediv)
                shownGame.removeChild(publisherdiv)
                shownGame.removeChild(genrediv)
                shownGame.removeChild(release_datediv)
                shownGame.removeChild(short_descriptiondiv)
                shownGame.removeChild(pricediv)
                button.innerHTML = 'See more...'
                button.onclick = function(){
                    loadGame(id, title, publisher, genre, release_date, short_description, price)
                }
            }

        }

    </script>
</html>