<!doctype html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <h1><span class="fa"></span>Your zamowienia</h1>
                <ul>
                    <% zamowienia.forEach((zamowienie) => { %>
                        <li id='<%= zamowienie._id%>'>
                            <label>Status</label>
                            <div><%= zamowienie.status%></div>

                            <label>Address</label>
                            <div><%= zamowienie.address%></div>

                            <label>Way of delivery</label>
                            <div><%= zamowienie.sposob_dostawy%></div>

                            <label>Game title</label>
                            <div><%= zamowienie.gameTitle%></div>

                            <label>Total price</label>
                            <div><%= zamowienie.gamePrice%>$</div>
                            <hr>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </body>
</html>