<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> <!-- load axios test-->
        <style>
            body        { padding-top:80px; }
            .menu {
                background-color: lightgray;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <nav class="navbar navbar-light bg-light menu">
                    <a href="/main" class="navbar-brand">main page</a>
                    <a href="/logout" class="navbar-brand">logout</a>
                </nav>
                <div>
                    <h1><span class="fa"></span><%= gameTitle%></h1>
                    <div>
                        <h3>Publisher:</h3>
                        <div><%= gamePublisher%></div>
                    </div>
                    <hr>
                    <div>
                        <h3>Game price:</h3>
                        <div><%= gamePrice%>$</div>
                    </div>
                    <hr>
                    <div>
                        <select id="dostawa">
                            <option value="fast">Delivery in a day (10$)</option>
                            <option value="regular">Delivery in a week(0$)</option>
                        </select>
                    </div>
                    <hr>
                    <div>
                        <button class="btn btn-warning btn-lg" onclick="makeZamowienie('<%= game_id%>', document.getElementById('dostawa'))">
                            Pay at the place of receipt
                        </button>
                        <a class="btn btn-warning btn-lg" onclick="makeZamowienieOnline('<%= game_id%>', document.getElementById('dostawa'))">
                            Pay online
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        const makeZamowienie =(game_id, ddl) =>{
            const sposob_dostawy = ddl.options[ddl.selectedIndex].value;
            axios.post(`/makeZamowienie`, {game_id: game_id, sposob_dostawy: sposob_dostawy}).then(()=>{
                location.href='/historia_zamowien'
            })
        }
        const makeZamowienieOnline =(game_id, ddl) =>{
            const sposob_dostawy = ddl.options[ddl.selectedIndex].value;
            location.href=`/zamowienie/${game_id}/payOnline?sposob_dostawy=${sposob_dostawy}`
        }
    </script>
</html>